
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .howto-image {
        margin-top: 25px;
        width: 500px;
    }

    .banner-image {
        width: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        clear: both;
    }

    .privacy {
        padding: 10px;
    }

    .nav > li > a {
        padding: auto !important;
    }

    .navbar-nav li {
        margin-left: 20px;
    }

    .navbar-brand {
    }

    li .navbar {
        padding: 20px;
        margin: 100px;
        /*clear: both;*/
    }

    .text-brand {
        padding: 10px;
    }

    .notification-count {
        font-size: 16px;
        text-align: center;
        margin: auto;
        color: whitesmoke;
        padding-top: 25px;
        padding-bottom: 25px;
    }


    .navbar {
    }

    .navbar li {
        display: block;
        clear: both;
    }


    .header-font {
        font-size: 18px;
        color: lightgrey;
    }

    .howto-image {
        max-width: 100%;
    }


    .login-button {
        font-size: 16px;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        white-space: normal;
        margin-top: 50px;
    }


}